<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <command
               commandId="pmd.eclipse.plugin.ui.command.packageexplorer"
               icon="icons/pmd-icon-16.gif"
               label="Run PMD"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="activeMenuSelection">
                  <iterate ifEmpty="false">
                  <!--	does not work
                		<adapt type="org.eclipse.core.resources.IFile">
	                		<test 	property="org.eclipse.core.resources.contentTypeId"
	            					value="org.eclipse.jdt.core.javaSource"/>
                        </adapt>
                  -->
                     <or>
                        <adapt type="org.eclipse.core.resources.IFile"></adapt>
                        <adapt type="org.eclipse.core.resources.IFolder"></adapt>
                        <adapt type="org.eclipse.core.resources.IProject">
		                    <test
		                          property="org.eclipse.core.resources.open">
		                    </test>
                        </adapt>
                        <adapt type="org.eclipse.jdt.core.ICompilationUnit"></adapt>
                        <adapt type="org.eclipse.jdt.core.IPackageFragmentRoot"></adapt>
                        <adapt type="org.eclipse.jdt.core.IPackageFragment"></adapt>
                        <!-- a closed java project is simply an IProject, since its nature and type is not known -->
                        <adapt type="org.eclipse.jdt.core.IJavaProject"></adapt>
                     </or>

                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext?after=additions">
         <command
               commandId="pmd.eclipse.plugin.ui.command.compilationuniteditor"
               icon="icons/pmd-icon-16.gif"
               label="Run PMD"
               style="push">
         </command>
      </menuContribution>
 	  <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="pmd.eclipse.plugin.ui.command.projectexplorer"
               icon="icons/pmd-icon-16.gif"
               label="Run PMD"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <iterate ifEmpty="false">
                     <or>
                        <adapt type="org.eclipse.core.resources.IFile"></adapt>
                        <adapt type="org.eclipse.core.resources.IFolder"></adapt>
                        <adapt type="org.eclipse.core.resources.IProject">
		                    <test
		                          property="org.eclipse.core.resources.open">
		                    </test>
                        </adapt>
                        <adapt type="org.eclipse.jdt.core.ICompilationUnit"></adapt>
                        <adapt type="org.eclipse.jdt.core.IPackageFragmentRoot"></adapt>
                        <adapt type="org.eclipse.jdt.core.IPackageFragment"></adapt>
                        <!-- a closed java project is simply an IProject, since its nature and type is not known -->
                        <adapt type="org.eclipse.jdt.core.IJavaProject"></adapt>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="pmd.eclipse.plugin.icons.FileIconDecorator"
            icon="icons/sample_decorator.gif"
            id="pmd-eclipse-plugin.decorator"
            label="Resource Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="pmd.eclipse.plugin.ui.handlers.ExplorerHandler"
            id="pmd.eclipse.plugin.ui.command.packageexplorer"
            name="Run PMD">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="pmd.eclipse.plugin.ui.handlers.ExplorerHandler"
            id="pmd.eclipse.plugin.ui.command.projectexplorer"
            name="Run PMD">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="pmd.eclipse.plugin.ui.handlers.CompilationUnitEditorHandler"
            id="pmd.eclipse.plugin.ui.command.compilationuniteditor"
            name="Run PMD">
      </command>
   </extension>
   <extension
         id="pmd.eclipse.plugin.markers.violation"
         name="PMD Violation Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="pmd.priority">
      </attribute>
      <attribute
            name="pmd.rulesetname">
      </attribute>
      <attribute
            name="pmd.rulename">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="pmd.eclipse.plugin.icons.AnnotationImageProvider"
            annotationType="pmd.eclipse.plugin.ui.specification.priority.high"
            colorPreferenceKey="clcolor"
            colorPreferenceValue="255,0,0"
            includeOnPreferencePage="true"
            label="High Priority Annotation Declaration"
            overviewRulerPreferenceKey="clruler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="pmd.eclipse.plugin.markers.violation"
            name="pmd.eclipse.plugin.ui.specification.priority.high"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="pmd.eclipse.plugin.views.PmdViolationsView"
            icon="icons/pmd-icon-16.gif"
            id="pmd.eclipse.plugin.views.PmdViolationsView"
            name="PMD Violations"
            restorable="true">
      </view>
   </extension>
   <!--
   <extension
         id="pmd.eclipse.plugin.builder.IncrementalViolationMarkerBuilder"
         name="PMD Violation Marker Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="pmd.eclipse.plugin.builder.IncrementalViolationMarkerBuilder">
         </run></builder>
   </extension>
	-->
</plugin>
