<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <command
               commandId="pmd.eclipse.plugin.ui.command.packageexplorer"
               label="Run PMD"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFolder">
                  </adapt>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext?after=additions">
         <command
               commandId="pmd.eclipse.plugin.ui.command.compilationuniteditor"
               label="Run PMD"
               style="push">
         </command>
      </menuContribution>
 	  <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="pmd.eclipse.plugin.ui.command.projectexplorer"
               label="Run PMD"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="pmdeclipseplugin.decorators.FileIconDecorator"
            icon="icons/sample_decorator.gif"
            id="pmd-eclipse-plugin.decorator"
            label="Resource Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="pmd.eclipse.plugin.ui.handlers.PackageExplorerHandler"
            id="pmd.eclipse.plugin.ui.command.packageexplorer"
            name="Run PMD">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="pmd.eclipse.plugin.ui.handlers.ProjectExplorerHandler"
            id="pmd.eclipse.plugin.ui.command.projectexplorer"
            name="Run PMD">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="pmd.eclipse.plugin.ui.handlers.CompilationUnitEditorHandler"
            id="pmd.eclipse.plugin.ui.command.compilationuniteditor"
            name="Run PMD">
      </command>
   </extension>
   <extension
         id="pmd.eclipse.plugin.markers.violation"
         name="PMD Violation Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="pmd.priority">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="pmd.eclipse.plugin.annotations.AnnotationImageProvider"
            annotationType="pmd.eclipse.plugin.ui.specification.priority.high"
            colorPreferenceKey="clcolor"
            colorPreferenceValue="255,0,0"
            includeOnPreferencePage="true"
            label="High Priority Annotation Declaration"
            overviewRulerPreferenceKey="clruler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="pmd.eclipse.plugin.markers.violation"
            name="pmd.eclipse.plugin.ui.specification.priority.high"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
   </extension>

</plugin>
