<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <command
               commandId="qa.eclipse.plugin.bundles.checkstyle.command.packageexplorer"
               icon="icons/checkstyle-favicon.ico"
               label="Run Checkstyle"
               style="push">
               <visibleWhen checkEnabled="false">
               <with variable="activeMenuSelection">
                  <iterate ifEmpty="false">
                  <!--	does not work
                		<adapt type="org.eclipse.core.resources.IFile">
	                		<test 	property="org.eclipse.core.resources.contentTypeId"
	            					value="org.eclipse.jdt.core.javaSource"/>
                        </adapt>
                  -->
                     <or>
                        <adapt type="org.eclipse.core.resources.IFile"></adapt>
                        <adapt type="org.eclipse.core.resources.IFolder"></adapt>
                        <adapt type="org.eclipse.core.resources.IProject">
		                    <test
		                          property="org.eclipse.core.resources.open">
		                    </test>
                        </adapt>
                        <adapt type="org.eclipse.jdt.core.ICompilationUnit"></adapt>
                        <adapt type="org.eclipse.jdt.core.IPackageFragmentRoot"></adapt>
                        <adapt type="org.eclipse.jdt.core.IPackageFragment"></adapt>
                        <!-- a closed java project is simply an IProject, since its nature and type is not known -->
                        <adapt type="org.eclipse.jdt.core.IJavaProject"></adapt>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="qa.eclipse.plugin.bundles.checkstyle.command.projectexplorer"
               icon="icons/checkstyle-favicon.ico"
               label="Run Checkstyle"
               style="push">
               <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <iterate ifEmpty="false">
                     <or>
                        <adapt type="org.eclipse.core.resources.IFile"></adapt>
                        <adapt type="org.eclipse.core.resources.IFolder"></adapt>
                        <adapt type="org.eclipse.core.resources.IProject">
		                    <test
		                          property="org.eclipse.core.resources.open">
		                    </test>
                        </adapt>
                        <adapt type="org.eclipse.jdt.core.ICompilationUnit"></adapt>
                        <adapt type="org.eclipse.jdt.core.IPackageFragmentRoot"></adapt>
                        <adapt type="org.eclipse.jdt.core.IPackageFragment"></adapt>
                        <!-- a closed java project is simply an IProject, since its nature and type is not known -->
                        <adapt type="org.eclipse.jdt.core.IJavaProject"></adapt>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#AbstractTextEditorContext">
         <command
               commandId="qa.eclipse.plugin.bundles.checkstyle.command.compilationuniteditor"
               icon="icons/checkstyle-favicon.ico"
               label="Run Checkstyle"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="qa.eclipse.plugin.bundles.checkstyle.handler.ExplorerHandler"
            id="qa.eclipse.plugin.bundles.checkstyle.command.packageexplorer"
            name="Run Checkstyle">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="qa.eclipse.plugin.bundles.checkstyle.handler.ExplorerHandler"
            id="qa.eclipse.plugin.bundles.checkstyle.command.projectexplorer"
            name="Run Checkstyle">
      </command>
     <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="qa.eclipse.plugin.bundles.checkstyle.handler.CompilationUnitEditorHandler"
            id="qa.eclipse.plugin.bundles.checkstyle.command.compilationuniteditor"
            name="Run Checkstyle">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="qa.eclipse.plugin.bundles.checkstyle.preference.CheckstylePropertyPage"
            icon="icons/checkstyle-favicon.ico"
            id="qa.eclipse.plugin.bundles.checkstyle.propertypage"
            name="Checkstyle Settings">
			<enabledWhen>
	            <and>
	         	   <adapt type="org.eclipse.core.resources.IResource"></adapt>
	            </and>
            </enabledWhen>
      </page>
   </extension>
   <extension
         id="qa.eclipse.plugin.checkstyle.markers.violation"
         name="Abstract Checkstyle Violation Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <attribute
            name="checkstyle.check_name">
      </attribute>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="checkstyle.check_package">
      </attribute>
   </extension>
   <extension
         id="qa.eclipse.plugin.checkstyle.markers.violation.error"
         name="Checkstyle Error Violation Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="qa.eclipse.plugin.checkstyle.markers.violation">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="qa.eclipse.plugin.checkstyle.markers.violation.warning"
         name="Checkstyle Warning Violation Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="qa.eclipse.plugin.checkstyle.markers.violation">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="qa.eclipse.plugin.checkstyle.markers.violation.info"
         name="Checkstyle Info Violation Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="qa.eclipse.plugin.checkstyle.markers.violation">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="qa.eclipse.plugin.checkstyle.markers.violation.ignore"
         name="Checkstyle Ignore Violation Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="qa.eclipse.plugin.checkstyle.markers.violation">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
      <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="qa.eclipse.plugin.checkstyle.markers.violation.error"
            name="qa.eclipse.plugin.checkstyle.annotationtype.error">
      </type>
      <type
            markerType="qa.eclipse.plugin.checkstyle.markers.violation.warning"
            name="qa.eclipse.plugin.checkstyle.annotationtype.warning">
      </type>
      <type
            markerType="qa.eclipse.plugin.checkstyle.markers.violation.info"
            name="qa.eclipse.plugin.checkstyle.annotationtype.info">
      </type>
      <type
            markerType="qa.eclipse.plugin.checkstyle.markers.violation.ignore"
            name="qa.eclipse.plugin.checkstyle.annotationtype.ignore">
      </type>
   </extension>
   
      <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="qa.eclipse.plugin.checkstyle.annotationtype.error"
            colorPreferenceKey="color.checkstyle.error"
            colorPreferenceValue="255,0,0"
            icon="icons/annotation-3.png"
            label="QA: Checkstyle &apos;Error&apos; Violation"
            overviewRulerPreferenceKey="overview.checkstyle.error"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="text.checkstyle.error"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="vertical.checkstyle.error"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="qa.eclipse.plugin.checkstyle.annotationtype.warning"
            colorPreferenceKey="color.checkstyle.warning"
            colorPreferenceValue="255,0,0"
            icon="icons/annotation-2.png"
            label="QA: Checkstyle &apos;Warning&apos; Violation"
            overviewRulerPreferenceKey="overview.checkstyle.warning"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="text.checkstyle.warning"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="vertical.checkstyle.warning"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="qa.eclipse.plugin.checkstyle.annotationtype.info"
            colorPreferenceKey="color.checkstyle.info"
            colorPreferenceValue="255,0,0"
            icon="icons/annotation-1.png"
            label="QA: Checkstyle &apos;Info&apos; Violation"
            overviewRulerPreferenceKey="overview.checkstyle.info"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="text.checkstyle.info"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="vertical.checkstyle.info"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="qa.eclipse.plugin.checkstyle.annotationtype.ignore"
            colorPreferenceKey="color.checkstyle.ignore"
            colorPreferenceValue="255,0,0"
            icon="icons/annotation-0.png"
            label="QA: Checkstyle &apos;Ignore&apos; Violation"
            overviewRulerPreferenceKey="overview.checkstyle.ignore"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="text.checkstyle.ignore"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="vertical.checkstyle.ignore"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
      <extension
            point="org.eclipse.ui.views">
         <view
               category="qa.eclipse.plugin.category.qa"
               class="qa.eclipse.plugin.bundles.checkstyle.view.CheckstyleViolationsView"
               icon="icons/checkstyle-favicon.ico"
               id="qa.eclipse.plugin.checkstyle.view"
               name="Checkstyle Violations"
               restorable="true">
         </view>
      </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="qa.eclipse.plugin.checkstyle.editorContribution"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
         <action
               actionID="RulerClick"
               class="qa.eclipse.plugin.bundles.checkstyle.handler.LeftClickEditorActionDelegate"
               id="qa.eclipse.plugin.checkstyle.rulerClick"
               label="Checkstyle Left Click"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension point="org.eclipse.ui.decorators">
	<decorator
            adaptable="true"
            class="qa.eclipse.plugin.bundles.checkstyle.icons.FileIconDecorator"
			id="qa.eclipse.plugin.bundles.checkstyle.decorator"
            label="Checkstyle Violation Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
</plugin>
