<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <command
               commandId="pmd.eclipse.plugin.ui.command.packageexplorer"
               icon="icons/pmd-icon-16.gif"
               label="Run PMD"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="activeMenuSelection">
                  <iterate ifEmpty="false">
                  <!--	does not work
                		<adapt type="org.eclipse.core.resources.IFile">
	                		<test 	property="org.eclipse.core.resources.contentTypeId"
	            					value="org.eclipse.jdt.core.javaSource"/>
                        </adapt>
                  -->
                     <or>
                        <adapt type="org.eclipse.core.resources.IFile"></adapt>
                        <adapt type="org.eclipse.core.resources.IFolder"></adapt>
                        <adapt type="org.eclipse.core.resources.IProject">
		                    <test
		                          property="org.eclipse.core.resources.open">
		                    </test>
                        </adapt>
                        <adapt type="org.eclipse.jdt.core.ICompilationUnit"></adapt>
                        <adapt type="org.eclipse.jdt.core.IPackageFragmentRoot"></adapt>
                        <adapt type="org.eclipse.jdt.core.IPackageFragment"></adapt>
                        <!-- a closed java project is simply an IProject, since its nature and type is not known -->
                        <adapt type="org.eclipse.jdt.core.IJavaProject"></adapt>
                     </or>

                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <!--
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext?after=additions">
         <command
               commandId="pmd.eclipse.plugin.ui.command.compilationuniteditor"
               icon="icons/pmd-icon-16.gif"
               label="Run PMD"
               style="push">
         </command>
      </menuContribution>
      -->
 	  <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="pmd.eclipse.plugin.ui.command.projectexplorer"
               icon="icons/pmd-icon-16.gif"
               label="Run PMD"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <iterate ifEmpty="false">
                     <or>
                        <adapt type="org.eclipse.core.resources.IFile"></adapt>
                        <adapt type="org.eclipse.core.resources.IFolder"></adapt>
                        <adapt type="org.eclipse.core.resources.IProject">
		                    <test
		                          property="org.eclipse.core.resources.open">
		                    </test>
                        </adapt>
                        <adapt type="org.eclipse.jdt.core.ICompilationUnit"></adapt>
                        <adapt type="org.eclipse.jdt.core.IPackageFragmentRoot"></adapt>
                        <adapt type="org.eclipse.jdt.core.IPackageFragment"></adapt>
                        <!-- a closed java project is simply an IProject, since its nature and type is not known -->
                        <adapt type="org.eclipse.jdt.core.IJavaProject"></adapt>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:#AbstractTextEditorContext">
       <command
             commandId="pmd.eclipse.plugin.ui.command.compilationuniteditor"
             icon="icons/pmd-icon-16.gif"
             label="Run PMD"
             style="push">
       </command>
    </menuContribution>

   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="pmd.eclipse.plugin.icons.FileIconDecorator"
            id="pmd-eclipse-plugin.decorator"
            label="PMD Violation Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="pmd.eclipse.plugin.ui.ExplorerHandler"
            id="pmd.eclipse.plugin.ui.command.packageexplorer"
            name="Run PMD">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="pmd.eclipse.plugin.ui.ExplorerHandler"
            id="pmd.eclipse.plugin.ui.command.projectexplorer"
            name="Run PMD">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="pmd.eclipse.plugin.ui.CompilationUnitEditorHandler"
            id="pmd.eclipse.plugin.ui.command.compilationuniteditor"
            name="Run PMD">
      </command>
   </extension>
   <extension
         id="pmd.eclipse.plugin.markers.violation"
         name="Abstract PMD Violation Marker"
         point="org.eclipse.core.resources.markers">
      <attribute
            name="pmd.rulesetname">
      </attribute>
      <attribute
            name="pmd.rulename">
      </attribute>
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="qa.eclipse.plugin.pmd.annotationtype.high"
            colorPreferenceKey="pmd.high.clcolor"
            colorPreferenceValue="255,0,0"
            icon="icons/pmd1-annotation.png"
            label="QA: PMD &apos;High&apos; Violation"
            overviewRulerPreferenceKey="pmd.high.clruler"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="pmd.high.cltext"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="pmd.high.clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="qa.eclipse.plugin.pmd.annotationtype.mediumhigh"
            colorPreferenceKey="pmd.mediumhigh.clcolor"
            colorPreferenceValue="255,0,0"
            icon="icons/pmd2-annotation.png"
            label="QA: PMD &apos;Medium High&apos; Violation"
            overviewRulerPreferenceKey="pmd.mediumhigh.clruler"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="pmd.mediumhigh.cltext"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="pmd.mediumhigh.clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="qa.eclipse.plugin.pmd.annotationtype.mediumlow"
            colorPreferenceKey="pmd.mediumlow.clcolor"
            colorPreferenceValue="255,0,0"
            icon="icons/pmd4-annotation.png"
            label="QA: PMD &apos;Medium Low&apos; Violation"
            overviewRulerPreferenceKey="pmd.mediumlow.clruler"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="pmd.mediumlow.cltext"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="pmd.mediumlow.clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="qa.eclipse.plugin.pmd.annotationtype.low"
            colorPreferenceKey="pmd.low.clcolor"
            colorPreferenceValue="255,0,0"
            icon="icons/pmd5-annotation.png"
            label="QA: PMD &apos;Low&apos; Violation"
            overviewRulerPreferenceKey="pmd.low.clruler"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="pmd.low.cltext"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="pmd.low.clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="qa.eclipse.plugin.pmd.annotationtype.medium"
            colorPreferenceKey="pmd.medium.clcolor"
            colorPreferenceValue="255,0,0"
            icon="icons/pmd3-annotation.png"
            label="QA: PMD &apos;Medium&apos; Violation"
            overviewRulerPreferenceKey="pmd.medium.clruler"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="pmd.medium.cltext"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="pmd.medium.clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="pmd.eclipse.plugin.markers.violation.high"
            name="qa.eclipse.plugin.pmd.annotationtype.high">
      </type>
      <type
            markerType="pmd.eclipse.plugin.markers.violation.medium"
            name="qa.eclipse.plugin.pmd.annotationtype.medium">
      </type>
      <type
            markerType="pmd.eclipse.plugin.markers.violation.mediumlow"
            name="qa.eclipse.plugin.pmd.annotationtype.mediumlow">
      </type>
      <type
            markerType="pmd.eclipse.plugin.markers.violation.low"
            name="qa.eclipse.plugin.pmd.annotationtype.low">
      </type>
      <type
            markerType="pmd.eclipse.plugin.markers.violation.mediumhigh"
            name="qa.eclipse.plugin.pmd.annotationtype.mediumhigh">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="pmd.eclipse.plugin.views.PmdViolationsView"
            icon="icons/pmd-icon-16.gif"
            id="pmd.eclipse.plugin.views.PmdViolationsView"
            name="PMD Violations"
            restorable="true">
      </view>
   </extension>

   <extension point="org.eclipse.jdt.ui.javaEditorTextHovers">
   	 <hover
            class="pmd.eclipse.plugin.ui.PmdAnnotationHover"
            id="pmd.eclipse.plugin.ui.PmdAnnotationHover">
	</hover>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="my.ruler.click.action"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
         <action
               actionID="RulerClick"
               class="pmd.eclipse.plugin.ui.LeftClickEditorActionDelegate"
               id="pmd.eclipse.plugin.ui.action1"
               label="label"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="pmd.eclipse.plugin.experimental.PreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.propertyPages">
      <page
            class="pmd.eclipse.plugin.experimental.properties.SamplePropertyPage"
            id="pmd.eclipse.plugin.experimental.properties.samplePropertyPage"
            name="PMD Settings">
            <enabledWhen>
            <and>
         	   <adapt type="org.eclipse.core.resources.IResource"></adapt>
            </and>
            </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
            class="pmd.eclipse.plugin.experimental.PmdAnnotationModelFactory">
      </factory>
   </extension>
   <extension
         id="pmd.eclipse.plugin.markers.violation.high"
         name="High PMD Violation Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="pmd.eclipse.plugin.markers.violation">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="pmd.eclipse.plugin.markers.violation.mediumhigh"
         name="Medium High PMD Violation Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="pmd.eclipse.plugin.markers.violation">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="pmd.eclipse.plugin.markers.violation.medium"
         name="Medium PMD Violation Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="pmd.eclipse.plugin.markers.violation">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="pmd.eclipse.plugin.markers.violation.mediumlow"
         name="Medium Low PMD Violation Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="pmd.eclipse.plugin.markers.violation">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="pmd.eclipse.plugin.markers.violation.low"
         name="Low PMD Violation Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="pmd.eclipse.plugin.markers.violation">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>

      <!--
      <command
            id="pmd.eclipse.plugin.ui.ruler.click"
            name="Jump to Violations View">
      </command>
      -->
      
          <!--
    <menuContribution
          allPopups="false"
          class="pmd.eclipse.plugin.experimental.MyMenuContribution"
          locationURI="toolbar:org.eclipse.jdt.ui.CompilationUnitEditor">
       <command
             style="push">
       </command>
       <dynamic
             class="org.eclipse.ui.ExtensionFactory:showInContribution"
             id="pmd.eclipse.plugin.ui.dynamic2">
          <class
                class="pmd.eclipse.plugin.experimental.MyExecutableExtension">
          </class>
       </dynamic>
    </menuContribution>
    -->
      
      
         <!--
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="pmd.eclipse.plugin.experimental.JumpToViolationsView"
            commandId="pmd.eclipse.plugin.ui.ruler.click">
         <activeWhen>
         	<and>
	            <with
	                  variable="activePartId">
	               <equals
	                     value="org.eclipse.jdt.ui.CompilationUnitEditor">
	               </equals>
	            </with>
	            <with variable="selection">
	            	<iterate>
	            		<count value="1">
	            		</count>
	            	</iterate>
	            </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   -->
         <!--
   <extension
         id="pmd.eclipse.plugin.builder.IncrementalViolationMarkerBuilder"
         name="PMD Violation Marker Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="pmd.eclipse.plugin.builder.IncrementalViolationMarkerBuilder">
         </run></builder>
   </extension>
	-->
